
*{    padding: 0px; 
  margin: 0px;
  box-sizing: border-box; 
}


.images{height: 300px;
  align-items: center;
  justify-content: space-between;
flex-direction: row;
display: flex; 
background-color:#dcdde1;
padding: 20px; margin: 20px;  
border: 1px solid :red;
 border-radius: 14px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center; 
 background-color: #cfd9ce  ;

   }
   .T {  height: 120px; display: flex; width:10px; margin-left: 50%;
justify-content: center; background-color: black; border-radius: 50px;
  }